h1 {
  font-size: 3em;
  margin-top: 40px;
  padding-top: 0px;
  text-align: center;
  letter-spacing: 2px;
  color: grey;
  font-family: Montserrat Alternates;
      font-weight: 400;
}


h2 {
  font-size: 2em;
  font-family: Montserrat Alternates;
  text-align: center;
    margin: 0;
    font-weight: 300;
    padding-right: 30px;
}

h3 {
  font-size: 3.5em;

  text-align: center;
  letter-spacing: 1px;
  font-family: Montserrat Alternates;
    margin: 0;
    font-weight: 600;
        padding-right: 30px;




#hideMe2 {

  font-size: 2em;
  margin-top: 0px;
  text-align: center;
  letter-spacing: 1px;

  font-family: Montserrat Alternates;

}

}

p {
  font-size: 1.5em;
  margin-top: 0px;
  margin-left: 50px;
  text-align: center;
  color: grey;
  font-family: Montserrat Alternates;
  max-width: 200px;
      font-weight: 400;
}



body {
    background-color: #131324;
    height: 1500px;
}

select {
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: #131324;
  font-family: Montserrat Alternates;
    width: 240px;
  height: 75px;
   gap: 1rem;
  text-align: center;
  text-color: white;
  color: white;
    font-size: 1em;
    border-width: 1px;
    font-weight: 600;

}

input {

  box-sizing: border-box;
  border-radius: 1rem;
  border: solid;
  border-color: grey;
  color: white;
  text-color: white;
  background-color:#131324;
  font-family: Montserrat Alternates;
  gap: 1rem;
  width: 240px;
  height: 75px;
  text-align: center;
    font-size: 1em;
    border-width: 1px;
    font-weight: 600;


}

button {
  box-sizing: border-box;
  border-radius: 0rem;
  border: None;
  background-color: #131324;
  font-family: Montserrat Alternates;
  gap: 2rem;
  width: 250px;
  height: 200px;
  text-align: center;
  font-size: 2.5em;
  color: #1cc78b;
  border-color:#131324;
  margin-right:40px;
  background: transparent;
 margin-top:30px;
  cursor: pointer;

}

#submit_btn {
 width: 250px;
 height: 200px;
 background-image: url("./icon.png");
 background-size: contain;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   cursor: pointer;
  padding-top:50px;

}

#submit_btn:hover {
 width: 250px;
 height: 200px;
  background-image: url("./icon2.png");
   background-size: contain;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    padding-top:50px;
}

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}



#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

#hideMe2 {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}