h1 {
  font-size: 2em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 2px;
  color: #7FFFD4;
  font-family: Arial, Helvetica, sans-serif;
}


h3 {
  font-size: 1.5em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 1px;
  color: #3CB371;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.2em;
  margin-top: 0px;
  text-align: center;
  color: #3CB371;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #47476b;
}

select {
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: #7FFFD4;

  font-family: Arial, Helvetica, sans-serif;
  gap: 2rem;
}

input {
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: #7FFFD4;

  font-family: Arial, Helvetica, sans-serif;
  gap: 2rem;
  width: 95px;
  text-align: center;
}

button {
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: #FF7F50;

  font-family: Arial, Helvetica, sans-serif;
  gap: 2rem;
  width: 130px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;

}