<!DOCTYPE html>
<html>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">


<head>
    <title>Strokes Prediction App</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;600&display=swap"
          rel="stylesheet">

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

</head>

<body>






<form , , , action="/" method="POST" name="form" style="text-align: center;">


    <div style=""><h1>Stroke risk estimator</h1></div>
    <div style="display: flex;justify-content: center; align-items: center;">

        <!--        <div style=><img src='static/icon.png' width="250px", height="200px" ></div>-->


    </div>


    <br>


    <div style="display: flex; justify-content: center; align-items: center; ">
        <div id='stack'
             style="max-width: 1200px; display: flex; align-items:center; flex-wrap: wrap; justify-content: left; padding-left:100px; ">


            <p> Gender <select name="gender" >

                <option selected >{{ request.form['gender'] }}</option>
                {% for gender in genders %}
                <option>{{ gender }}</option>
                {% endfor %}
            </select>
            </p>

            <p> Age <input  name="age" placeholder="" required, type="number" value="{{ request.form['age'] }}"/></p>

            <p> Hypertension <select name="hypertension">
                <option selected >{{ request.form['hypertension'] }}</option>
                {% for hypertension in hypertensions %}
                <option>{{ hypertension }}</option>
                {% endfor %}
            </select></p>


            <p> Heart Desease <select name="heart_disease">
                <option selected >{{ request.form['heart_disease'] }}</option>
                {% for heart_disease in heart_diseases %}
                <option >{{ heart_disease }}</option>
                {% endfor %}
            </select></p>


            </p>


            <p>Ever married <select name="ever_married">
                <option selected >{{ request.form['ever_married'] }}</option>
                {% for ever_married in ever_marrieds %}
                <option>{{ever_married}}</option>
                {% endfor %}
            </select></p>


            <p> Work type<select name="work_type">
                <option selected >{{ request.form['work_type'] }}</option>
                {% for work_type in work_types %}
                <option>{{work_type}}</option>
                {% endfor %}
            </select></p>


            <p>Residence type <select name="Residence_type">
                <option selected >{{ request.form['Residence_type'] }}</option>
                {% for Residence_type in Residence_types %}
                <option>{{Residence_type}}</option>
                {% endfor %}
            </select></p>


            <p> Glucose level <input , name="avg_glucose_level" placeholder="" required, type="float"
                                     value="{{ request.form['avg_glucose_level'] }}"/>
            </p>

            <p>BMI <input , name="bmi" placeholder="" required type="float" value="{{ request.form['bmi'] }}"/>

            <p>Smoking status <select , name="smoking_status">
                <option selected >{{ request.form['smoking_status'] }}</option>
                {% for smoking_status in smoking_statuses %}
                <option>{{smoking_status}}</option>
                {% endfor %}
            </select></p>

            <!--            <div id="btn" ><button type="submit" value="Submit" name="submit_btn">OK</button></div>-->


        </div>


    </div>

    <div ,style="'display: inline;vertical-align: top';height:100%; width:100%; overflow: hidden;" id='btn_div'>

        <button class="submit_btn" id="submit_btn" name="submit_btn" type="submit" value="Submit"></button>
        <h3 id='hideMe' style='color:{{ color }};'>{{ output }} </h3>
        <h2 id='hideMe2' style='color:{{ color }};'>{{ certainty }} </h2>


    </div>


    <div style="  margin-top: 50px;">


    </div>


</form>


</body>
</html>



