<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <head>
        <title>Strokes Prediction App</title>


    </head>

    <body>
        <form name="form", method="POST", style="text-align: center;">

            <h1>Stroke predictor</h1>


            <br>

            <p> Gender :  <select name= "gender" method="GET" action="/">
                {% for gender in genders %}
                <option value= "{{gender}}" SELECTED>{{gender}}</option>"
                {% endfor %}
            </select>
            </p>


            <p>Age :  <input type="number" name="age", placeholder="Enter value" required/></p>



            <p>Hypertension : <select name="hypertension" method="GET" action="/">
                {% for hypertension in hypertensions %}
                <option value= "{{hypertension}}" SELECTED>{{hypertension}}</option>"
                {% endfor %}
            </select></p>


            <p> Heart Desease : <select name="heart_disease" method="GET" action="/">
                {% for heart_disease in heart_diseases %}
                <option value= "{{heart_disease}}" SELECTED>{{heart_disease}}</option>"
                {% endfor %}
            </select></p>


                <p>Ever married : <select name="ever_married" method="GET" action="/">
                {% for ever_married in ever_marrieds %}
                <option value= "{{ever_married}}" SELECTED>{{ever_married}}</option>"
                {% endfor %}
            </select></p>




<p> Work type: <select name="work_type" method="GET" action="/">
                {% for work_type in work_types %}
                <option value= "{{work_type}}" SELECTED>{{work_type}}</option>"
                {% endfor %}
            </select></p>




<p>Residence type : <select name="Residence_type" method="GET" action="/">
                {% for Residence_type in Residence_types %}
                <option value= "{{Residence_type}}" SELECTED>{{Residence_type}}</option>"
                {% endfor %}
            </select></p>


<p> Average glucose level : <input type="float" name="avg_glucose_level", placeholder="Enter value" required/>
          </p>

<p>BMI : <input type="float" name="bmi", placeholder="Enter value" required/>
           </p>


<p>Smoking status : <select name="smoking_status" method="GET" action="/">
                {% for smoking_status in smoking_statuses %}
                <option value= "{{smoking_status}}" SELECTED>{{smoking_status}}</option>"
                {% endfor %}
            </select></p>





            <br><br>

            <button value="Submit">Verify</button>



        </form>


    <h3 id='hideMe'>{{ output }}.</h3>
    </body>
</html>



